main {
font-family: inherit;
color: green;

}

nav {
  width: 960px;
  margin: 0 auto;
  display: inline-block;
}


 h2{
   font-size: 50px;
 }

 ul{

  font-size: 40px;
  margin: 0 auto;
  float: left;
  padding: 20px;
  border: none;
}


main {
font-family: inherit;
color: green;

}

nav {
  width: 960px;
  margin: 0 auto;
  display: inline-block;
}


 h2{
   font-size: 50px;
 }

 ul{

  font-size: 40px;
  margin: 0 auto;
  float: left;
  padding: 20px;
  border: none;
}
