
body {
  font-family: Arial;
}

header {
  background-color: #888;
}
h1 {
text-align: center;

}
nav {
  width: 960px;
  margin: 0 auto;
}

nav img {
  float: left;
  width: 200px;
  height: 70px;
}

nav ul li {
  display: inline;
  margin-left: 100px;
}


main {
  width: 960px;
  margin: 30px auto;
}

.sub_banner {
  margin: 30px 0px;

}

.sub_banner li {
  display: inline-block;
  float: left;
  margin-left: 30px;
  height: 75px;
  width: 300px;
}

.sub_banner li:first-child {
  margin-left: 0px;
}

.featured_banner {
  float: left;
  margin-right: 30px;
}

  h2 {
  font-size: 25px;
  text-align: center;
  margin:  30px;
 padding: none;
}

main ul {
  margin: 50px;
  height: 50px;
  display: inline-block;
}


footer {
  background-color: #888;
  height: 70px;
}
